@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Turnos Medicos</h1>
    <p class="lead"> Con esta pagina se puede </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        
    </div>
</div>